<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxsg.Dao.ChiBiMapper" >
  <resultMap id="BaseResultMap" type="com.hxsg.po.ChiBi" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="resut" property="resut" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, num, resut, status, time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from chibi
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="queryHistory" resultMap="BaseResultMap"  >
       SELECT * FROM chibi c where status='1' order by time desc limit 0,20;
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from chibi
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hxsg.po.ChiBi" useGeneratedKeys="true" keyProperty="id" >
    insert into chibi (id, num, resut, 
      status, time)
    values (#{id,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, #{resut,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hxsg.po.ChiBi" useGeneratedKeys="true" keyProperty="id" >
    insert into chibi
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="resut != null" >
        resut,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="resut != null" >
        #{resut,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hxsg.po.ChiBi" >
    update chibi
    <set >
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="resut != null" >
        resut = #{resut,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hxsg.po.ChiBi" >
    update chibi
    set num = #{num,jdbcType=INTEGER},
      resut = #{resut,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>