<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxsg.Dao.HxsgBaseDaoMapper">
  <select id="QuerySql" parameterType="java.util.Map" resultType="java.util.Map">
    ${sql}
  </select>
  <update id="UpdateSql" parameterType="java.util.Map">
    ${sql}
  </update>
  <insert id="InsertSql" parameterType="java.util.Map">
    ${sql}
  </insert>
</mapper>