<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxsg.Dao.jiangjunMapper" >
  <resultMap id="BaseResultMap" type="com.hxsg.po.jiangjun" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="roleid" property="roleid" jdbcType="INTEGER" />
    <result column="jjname" property="jjname" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="data" property="data" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, roleid, jjname, num, type, status, data
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from jiangjun
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByRoleId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from jiangjun
        where roleid = #{roleid,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from jiangjun
        <where>
            <if test="roleid != null" >
                roleid = #{roleid,jdbcType=INTEGER}
            </if>
            <if test="jjname != null" >
                and   jjname = #{jjname,jdbcType=VARCHAR}
            </if>
            <if test="num != null" >
                and  num = #{num,jdbcType=INTEGER}
            </if>
            <if test="type != null" >
                and   type = #{type,jdbcType=VARCHAR}
            </if>


        </where>
    </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from jiangjun
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hxsg.po.jiangjun" useGeneratedKeys="true" keyProperty="id">
    insert into jiangjun (id, roleid, jjname, 
      num, type, status, 
      data)
    values (#{id,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}, #{jjname,jdbcType=VARCHAR}, 
      #{num,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{data,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hxsg.po.jiangjun" >
    insert into jiangjun
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
      <if test="jjname != null" >
        jjname,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="data != null" >
        data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="jjname != null" >
        #{jjname,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        #{data,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hxsg.po.jiangjun" >
    update jiangjun
    <set >
      <if test="roleid != null" >
        roleid = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="jjname != null" >
        jjname = #{jjname,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        data = #{data,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hxsg.po.jiangjun" >
    update jiangjun
    set roleid = #{roleid,jdbcType=INTEGER},
      jjname = #{jjname,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      data = #{data,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>