<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxsg.Dao.SystemNotisMapper" >
  <resultMap id="BaseResultMap" type="com.hxsg.po.SystemNotis" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="msg" property="msg" jdbcType="VARCHAR" />
    <result column="data" property="data" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="custom1" property="custom1" jdbcType="VARCHAR" />
    <result column="custom2" property="custom2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, msg, data, status, custom1, custom2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from system_notis
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="querySystemNotis" resultMap="BaseResultMap"  >
        select
        <include refid="Base_Column_List" />
        from system_notis
         order by data desc  limit 0,20
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from system_notis
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hxsg.po.SystemNotis" >
    insert into system_notis (id, msg, data, 
      status, custom1, custom2
      )
    values (#{id,jdbcType=INTEGER}, #{msg,jdbcType=VARCHAR}, #{data,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{custom1,jdbcType=VARCHAR}, #{custom2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hxsg.po.SystemNotis" >
    insert into system_notis
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="msg != null" >
        msg,
      </if>
      <if test="data != null" >
        data,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="custom1 != null" >
        custom1,
      </if>
      <if test="custom2 != null" >
        custom2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        #{data,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="custom1 != null" >
        #{custom1,jdbcType=VARCHAR},
      </if>
      <if test="custom2 != null" >
        #{custom2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hxsg.po.SystemNotis" >
    update system_notis
    <set >
      <if test="msg != null" >
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="data != null" >
        data = #{data,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="custom1 != null" >
        custom1 = #{custom1,jdbcType=VARCHAR},
      </if>
      <if test="custom2 != null" >
        custom2 = #{custom2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hxsg.po.SystemNotis" >
    update system_notis
    set msg = #{msg,jdbcType=VARCHAR},
      data = #{data,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      custom1 = #{custom1,jdbcType=VARCHAR},
      custom2 = #{custom2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>