<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hxsg.Dao.wupinMapper" >
  <resultMap id="BaseResultMap" type="com.hxsg.po.wupin" >
    <id column="roleid" property="roleid" jdbcType="INTEGER" />
    <result column="yaopinid" property="yaopinid" jdbcType="INTEGER" />
    <result column="yaopinnum" property="yaopinnum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    roleid, yaopinid, yaopinnum
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wupin
    where roleid = #{roleid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wupin
    where roleid = #{roleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hxsg.po.wupin" >
    insert into wupin (roleid, yaopinid, yaopinnum
      )
    values (#{roleid,jdbcType=INTEGER}, #{yaopinid,jdbcType=INTEGER}, #{yaopinnum,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hxsg.po.wupin" >
    insert into wupin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        roleid,
      </if>
      <if test="yaopinid != null" >
        yaopinid,
      </if>
      <if test="yaopinnum != null" >
        yaopinnum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="yaopinid != null" >
        #{yaopinid,jdbcType=INTEGER},
      </if>
      <if test="yaopinnum != null" >
        #{yaopinnum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hxsg.po.wupin" >
    update wupin
    <set >
      <if test="yaopinid != null" >
        yaopinid = #{yaopinid,jdbcType=INTEGER},
      </if>
      <if test="yaopinnum != null" >
        yaopinnum = #{yaopinnum,jdbcType=INTEGER},
      </if>
    </set>
    where roleid = #{roleid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hxsg.po.wupin" >
    update wupin
    set yaopinid = #{yaopinid,jdbcType=INTEGER},
      yaopinnum = #{yaopinnum,jdbcType=INTEGER}
    where roleid = #{roleid,jdbcType=INTEGER}
  </update>
</mapper>